.about {
  padding-bottom: 48px;
}
.about-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.picture {
  height: 350px;
  box-shadow: 0px 0.5px 5px 0.1px;
  margin-left: 10px;
}

.about-info {
  font-size: 22px;
  /* width: 450px; */
  width: 45%;
}
.info-name {
  font-size: 32px;
  color: aquamarine;
  text-shadow: 1px 1px 0px #000000;
}

@media only screen and (max-width: 720px) {
  .about-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .picture {
    height: 280px;
  }
  .about-info {
    font-size: 20px;
    max-width: 290px;
    padding-left: 0px;
    margin-bottom: 10px;
    justify-content: center;
    /* text-align: center; */
  }
  .info-name {
    font-size: 26px;
  }
}

@media only screen and (max-width: 420px) {
  .picture {
    height: 200px;
    margin-top: 12px;
  }
}
